In [116]:
from matplotlib import style
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
style.use('ggplot')
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [117]:
df=pd.read_excel('C:\\Users\\Ankitude\\Downloads\\titanic.xls')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [118]:
#df.drop('name', 1,inplace=True)
df.convert_objects(convert_numeric=True)
df.fillna(0,inplace=True)
df.head()

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,0.0,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,0.0,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0,0.0,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0,0.0,"Montreal, PQ / Chesterville, ON"

In [119]:
def handle_non_numerical_data(df):
    columns=df.columns.values
        
    for column in columns:
        text_digit_vals={}
        def convert_to_int (val):
            return text_digit_vals[val]
        
        if df[column].dtype !=np.int64 or df[column].dtype !=np.float64:
            column_contents=df[column].values.tolist()
            unique_elements=set(column_contents)
        
            x=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique]=x
                    x=x+1

            df[column]      =list(map(convert_to_int,df[column]))

    return df

In [120]:
df=handle_non_numerical_data(df)

In [121]:
df.head(100)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,0,1,735,1,29,0,0,757,43,31,2,1,0,248
1,0,1,543,0,94,1,2,326,64,158,2,19,0,348
2,0,0,58,1,2,1,2,326,64,158,2,0,0,348
3,0,0,44,0,30,1,2,326,64,158,2,0,54,348
4,0,0,143,1,25,1,2,326,64,158,2,0,0,348
5,0,1,356,0,48,0,0,703,154,135,2,6,0,351
6,0,1,623,1,63,1,0,570,172,184,2,20,0,335
7,0,0,1202,0,39,0,0,677,0,93,2,0,0,253
8,0,1,38,1,53,2,0,707,36,74,2,17,0,278
9,0,0,523,0,69,0,0,47,81,0,3,0,11,33
10,0,0,1126,0,47,1,0,522,6,13,3,0,49,351
11,0,1,237,1,18,1,0,522,6,13,3,9,0,351
12,0,1,1083,1,24,0,0,573,185,49,3,12,0,130
13,0,1,538,1,26,0,0,666,20,0,2,11,0,0
14,0,1,279,0,72,0,0,187,24,119,2,16,0,321
15,0,0,244,0,0,0,0,895,266,0,2,0,0,351
16,0,0,452,0,24,0,1,201,227,32,3,0,0,20
17,0,1,620,1,50,0,1,201,227,32,3,11,0,20
18,0,1,214,1,32,0,0,728,270,76,3,13,0,0
19,0,0,915,0,36,0,0,349,9,100,3,14,0,364
20,0,1,801,0,37,1,1,398,114,105,2,8,0,351
21,0,1,1105,1,47,1,1,398,114,105,2,8,0,351
22,0,1,656,0,26,0,0,354,24,178,3,8,0,351
23,0,1,554,1,42,0,0,522,6,0,3,9,0,0
24,0,1,1223,1,29,0,0,177,146,144,2,13,0,0
25,0,0,486,0,25,0,0,745,92,0,3,0,58,57
26,0,1,686,0,25,1,0,803,104,181,3,10,0,330
27,0,1,1072,1,19,1,0,803,104,181,3,10,0,330
28,0,1,402,1,35,0,0,790,277,150,2,13,0,0
29,0,1,249,0,28,0,0,922,154,38,2,17,0,246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0,0,1156,0,0,0,0,678,0,0,2,0,0,157
71,0,0,204,0,27,1,0,576,130,179,3,0,0,88
72,0,1,187,1,26,1,0,576,130,179,3,9,0,88
73,0,1,349,1,22,0,0,326,64,0,2,19,0,0
74,0,0,323,0,0,0,0,603,37,141,2,0,0,271
75,0,0,99,0,47,0,0,756,263,43,2,0,0,185
76,0,1,47,1,39,1,1,523,17,63,3,24,0,219
77,0,0,1212,0,37,1,1,523,17,46,3,0,0,219
78,0,1,734,1,64,0,2,523,17,61,3,24,0,219
79,0,1,414,1,55,2,0,708,123,74,2,7,0,351
80,0,0,351,0,0,0,0,350,154,0,2,0,0,191
81,0,0,98,0,68,1,1,865,47,28,2,0,97,273
82,0,1,73,1,36,0,2,865,47,28,2,10,0,273
83,0,1,40,1,64,1,1,107,154,26,2,10,0,273
84,0,0,186,0,39,1,0,752,55,175,3,0,0,351
85,0,1,513,1,38,1,0,752,55,175,3,9,0,351
86,0,1,984,0,51,0,0,184,154,137,2,2,0,274
87,0,1,888,0,27,0,0,543,251,0,2,6,0,61
88,0,1,1050,1,33,0,0,326,64,0,2,13,0,0
89,0,0,952,0,31,1,0,750,37,160,2,0,0,20
90,0,1,838,1,27,1,2,750,37,160,2,6,0,20
91,0,1,1163,0,31,1,0,505,40,29,2,6,0,311
92,0,1,1171,1,17,1,0,505,40,29,2,6,0,311
93,0,1,1002,0,53,1,1,396,223,94,2,21,0,57
94,0,1,407,0,4,0,2,396,223,94,2,8,0,57
95,0,1,946,1,54,1,1,396,223,94,2,8,0,57
96,0,0,851,0,50,1,0,791,274,176,3,0,26,14
97,0,1,534,1,27,1,1,201,227,32,3,11,0,20
98,0,1,718,1,48,1,0,791,274,176,3,7,0,14
99,0,1,1283,1,48,1,0,702,118,143,3,5,0,310

In [122]:
X=np.array(df.drop(['survived'],1).astype(float))
X=preprocessing.scale(X)

In [123]:
y=np.array(df['survived'])

In [124]:
clf=KMeans(n_clusters=2)
clf.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [125]:
correct=0.0
for i in range(len(X)):
    predict_me=np.array(X[i].astype(float))
    predict_me=predict_me.reshape(-1,len(predict_me))
    prediction=clf.predict(predict_me)
##prediction  = clf.predict(X[i])

    if prediction[0]==y[i]:
        correct+=1

In [126]:
print(correct/len(X))
print(len(X))
print(correct)

0.761650114591
1309
997.0