In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv',index_col=0)

data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
import seaborn as sns

%matplotlib inline

In [ ]:
sns.pairplot(data,x_vars=['TV','Radio','Newspaper'],y_vars='Sales', size=7,aspect=0.7,kind='reg')

In [ ]:
feature_col=['TV','Radio','Newspaper']

x=data[feature_col]

x.head()

In [ ]:
print type(x)
print x.shape

In [ ]:
y=data['Sales']
y.head()

In [ ]:
print type(y)
print y.shape

In [ ]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1)

In [ ]:
print x_train.shape
print y_train.shape
print x_test.shape
print y_test.shape

In [ ]:
from sklearn.linear_model import LinearRegression

linreg=LinearRegression()

linreg.fit(x_train,y_train)

In [ ]:
print linreg.intercept_
print linreg.coef_

In [ ]:
zip(feature_col,linreg.coef_)

In [ ]:
y_pred=linreg.predict(x_test)

In [ ]:
import numpy as np
print np.sqrt(metrics.mean_squared_error(y_test,y_pred))

In [ ]:
from sklearn import metrics
print metrics.mean_absolute_error(y_test,y_pred)